@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* EL PRINCIPAL (Lento - 25s) */
.animate-marquee {
  display: inline-flex !important;
  animation: marquee 25s linear infinite !important;
}

/* PUBLICIDAD (Rápidos - 8s) */
.animate-marquee-custom {
  display: inline-flex !important;
  animation: marquee 8s linear infinite !important;
}

.animate-marquee-reverse-custom {
  display: inline-flex !important;
  animation: marquee-reverse 8s linear infinite !important;
}

/* MOTOR DE MOVIMIENTO */
@keyframes marquee { 0% { transform: translateX(0%); } 100% { transform: translateX(-50%); } }
@keyframes marquee-reverse { 0% { transform: translateX(-50%); } 100% { transform: translateX(0%); } }